*{
  background: black;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
  margin-top: 20px;
}

a{
  margin-bottom: 40px;
  border: 1px dashed white;
  padding: 20px;
  position: absolute;
  left: 45%;
  cursor: pointer;
  transition: 0.5s;
}

a:hover{
  background: white;
  color: black;
  transform: scale(1.07);
}

body{
  height: 900px;
}

h5{
  margin-left: 77%;
}

.colors{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 2px;
  margin-bottom: 30px;
  border: 1px solid white;
  border-radius: 30px;
  padding: 10px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
}

.colors:hover{
  background: #333;
  transform: scale(1.09);
  color: black;
}

.colors:hover:nth-child(1){
  background: red;
}

.colors:hover:nth-child(2){
  background: green;
}

.colors:hover:nth-child(3){
  background: yellow;
}

.colors:hover:nth-child(4){
  background: blue;
}

.colors:hover:nth-child(5){
  background: orange;
}

.colors:hover:nth-child(6){
  background: white;
  color: black;
}

.colors:hover:nth-child(7){
  background: purple;
}

.colors:hover:nth-child(8){
  background: cyan;
}

.canvas{
  cursor: url('cursor.png'), auto;
  margin-left: 20px;
}

.tools{
  margin-left: 20px;
  margin-right: 10px;
  margin-top: 2px;
  margin-bottom: 30px;
  border: 1px solid white;
  border-radius: 30px;
  padding: 10px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
}

.tools:hover{
  color: black;
  transform: scale(1.09);
}


.tools:hover:nth-child(1){
  background: purple;
}

.tools:hover:nth-child(2){
  background: orange;
}

.tools:hover:nth-child(3){
  background: yellow;
}

.tools:hover:nth-child(4){
  background: blue;
}

.tools:hover:nth-child(5){
  background: green;
}

.tools:hover:nth-child(6){
  background: red;
}

.tools:hover:nth-child(7){
  background: white;
  color: black;
}


#tool_box, #color_box{
  border: 0.5px dashed white;
  width: 700px;
  padding: 10px;
  margin-left: 25%;
  color: red;
}

#color_box{
  color: lime;
}

h1{
  margin-left: 20px;
  text-decoration: underline;
}
